# Ignore the root level 'scripts', 'types', and 'build' directories
/scripts/
/types/
/build/
/pete9xi/

# Ignore the main node_modules directory
/node_modules/

# Ignore penrose/ files only at the root level
/penrose/node_modules/
/penrose/package.json
/penrose/package-lock.json

# Ignore Bedrock Dedicated Server directories at the root level
/bedrock-server-*/
